@mixin push--auto {
    margin: { 
        left: auto;
        right: auto;
    }
}

@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}

@mixin heading($font-s){
        font-family: 'Petrona';
        font-style: italic;
        font-weight: 900;
        font-size: $font-s;
}