@import "normalize.scss";
@import "variables.scss";
@import "mixins.scss";

/* GENERAL */
.mobile{
    display: none;
}
a{
    cursor: crosshair;
}
/* TYPOGRAPHY */
body{
    font-size: 16px;
    font-family: $font1; 
}

header h1 {
    @include heading(20vw);
    transform: scale(1, 1.4);
    margin-left: 1%;
}

nav ul {
    font-size: 0.8rem;
    font-weight: 500;
    li{
        font-family: $font2;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        list-style: none;
    }
}
#logo-small{
   @include heading(2.3rem);
}

#o-nas{
    p{
        
        @include heading(3rem);
    }}

/* COLORS */
body{
    background-color: $color1;
}

header h1 {
    color: white;
}

a{
    color: white;
        &:hover{ color:  #e7f3fc;
            text-decoration: none;}
}

#o-nas{
    p{
        color: rgb(53, 53, 53);
        background-color: white;}}

/* DECORATIVE */
.border-light{
    border-color: rgba(255, 255, 255, 0.322) !important;
}
body {  
    background-image: url('../imgs/photo-1515094264130-1c21fc4c9dcd.jpeg');
    background-size: 80%;    
    background-position: center 100px;
    background-repeat: no-repeat;
}
/* POSITIONING & SIZING*/
body{
    left: 0;
}

header h1{
    padding-top: 20vh;
    overflow: hidden;
}

nav ul{
    pointer-events: initial;
    position: absolute;
    top: 20px;
    left: 32%;
    z-index: 5;
    li{
        padding: 5px 20px;}
}
#logo-small{
    pointer-events: initial;
    top: 20px;
    left: 19%;
    width: 16%;
    padding-top: 4px;
    position: relative;
    padding-left: 10px;
}
#o-nas{
    position: relative;
    left: 10%;
    p{
        position: relative;
        z-index: 4;
        width: 50%;
        padding: 3%;
    }
    img{
        position: relative;
        top: -380px;
        left: 40%;
        z-index: 0;
        width: 40%;
        height: auto;
    }
}
/* GRAIN */
#main{
    pointer-events: none;
    z-index: 10;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

#main::before{
    z-index: 10;
}
/* ANIMATION */
.images{
    transform: translate(2000px);
}

.images.active{
    transform: translate(0px);
    transition: 1.5s cubic-bezier(.33,.32,.7,.91);
}





#nase-speciality{
    pointer-events: initial;
    position: relative;
    top: -280px;
    left: 0%;
    font-family: $font2;
    font-weight: 100;
    h3{
        font-size: 6rem;
        text-transform: uppercase;
        padding: 2%;
        transition: 1s ease-in;
        &:hover{
            transition: 1s ease-in;
            color: white;
            cursor: crosshair;
        }
    }

    p{
        width: 50%;
        position: relative;
        left: 10%;
        top: -100px;
       
    }
}

.circle{
    width: 100px;
    height: 100px;
    border: 1px solid rgba(255, 255, 255, 0.801);
    border-radius: 50%;
    position: relative;
    top: -100px;
    left: 75%;
    
}
.link-arrow{
    position: relative;
    top: -160px;
    left: 25%;
    width: 20%;
}
.icon{
    cursor: crosshair;
    position: relative;
    left: 53%;
    width: 30%;
    transition: 0.7s ease-in;
    
    transform-origin: right;
    &:hover{
        opacity: 0.3;
        transition: 0.7s ease-out;
    }
}


/* MEDIA QUERIES */
@media screen and (max-width: 1200px){
    #logo-small{
        left: 18%;
        width: 17.5%;
    } 
} 
@media screen and (max-width: 1100px){
    #logo-small{
        left: 16.8%;
        width: 19%;
    
    } 
} 

@media screen and (max-width: 1100px){
    #logo-small{
        @include heading(2rem);
        padding-top: 10px;
        left: 17.5%;
    
    } 
} 


@media screen and (max-width: 880px){
    .desktop, #logo-small{
        display: none;
    }
    .mobile{
        display: block;
    }
    .navinic{
        color: white;
        margin-left: 50px;
        margin-top: 20px;
        cursor: crosshair;
        pointer-events: initial;
    }
    .menuOnClick{
        pointer-events: initial;
        background-color: $color1;
        position: absolute;
        left: 0;
        top: 0;
        font-family: $font2;
        font-weight: 900;
        font-size: 2rem;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        transform: translate(-1100px);
        transition: 1s cubic-bezier(.07,.55,.81,.4);
        li{
            padding: 5%;
            margin-top: 5%;
        }
        a{color: $color2;
        &:hover{
            color: white;
        }};
    }
    #close{
        position: absolute;
        top: -5%;
        left: 85%;
        color:  $color2;
        font-size: 1rem;
    }
    .menuOnClick.active{
        transform: translate(0px);
        transition: 1s cubic-bezier(.55,.55,.81,.4);
    }
    #o-nas{
        p{
            font-size: 2rem;
        }
    }
}
@media screen and (max-width: 650px){
    #nase-speciality{
        top: -200px;
        h3{
            font-size: 4rem;
        }
    }
    .link-arrow{
        width: 40%;
    }
}



